@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap");

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  height: 100vh;
  background: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0.5),
      rgba(0, 0, 0, 0.322) 70.71%
    ),
    linear-gradient(
      120deg,
      rgb(142, 157, 172),
      rgba(23, 139, 248, 0.986) 70.71%
    ),
    linear-gradient(rgba(80, 84, 92, 0.8), rgba(76, 79, 83, 0.801) 70.71%);
  background-color: #0f0f1a no-repeat;
  color: white;
}

li {
  list-style: none;
}

.container_form {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 10rem auto;
}

.wrapper_input_search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search {
  font-size: 1rem;
  width: 30rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: none;
  color: white;
}
.search::placeholder {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
}
.search:focus {
  outline: none;
}

.search_icon {
  position: absolute;
  right: 3%;
  width: 1.9rem;
  height: auto;
  aspect-ratio: 16/9;
  color: rgba(255, 255, 255, 0.7);
}

.cards_container {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.card_current_weather,
.card_detail_weather,
.card_forecast_weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 50%;
  padding: 1rem;
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: none;
  color: white;
}

.card_current_weather h5 {
  font-size: 2rem;
}

.card_current_weather p {
  text-align: center;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.7);
}

.current_weather_detail h5 {
  font-size: 4rem;
}
.current_weather_detail p {
  font-size: 1rem;
}

.wrapper_current_weather_detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img_current_weather {
  width: 13rem;
  height: auto;
}

.container_cards_right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
}

.card_detail_weather {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.card_title {
  font-size: 1.3rem;
  font-weight: bold;
  align-self: flex-start;
}

.container_detail_weather_items {
  color: rgba(255, 255, 255, 0.548);
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.item_wrapper_weather_detail {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.card_forecast_weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.wrapper_forecast_weather {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  color: rgba(255, 255, 255, 0.548);
  font-size: 1rem;
}

.wrapper_forecast_weather img {
  width: 4rem;
}

@media screen and (max-width: 500px) {
  .cards_container {
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .card_current_weather,
  .current_weather_detail,
  .container_cards_right {
    width: 100%;
  }

  .search {
    width: 80%;
  }

  .wrapper_input_search {
    width: 100%;
  }

  .search_icon {
    right: 15%;
    width: 1.7rem;
  }

  .wrapper_forecast_weather img {
    width: 3rem;
  }
}

@media screen and (max-width: 360px) {
  .search {
    font-size: 0.7rem;
    width: 80%;
  }

  .search_icon {
    right: 15%;
    width: 1.3rem;
  }
}
